.Rproj.user
.Rhistory
.RData
.Ruserdata

NCF-AM2022-covid/index_cache/
NCF-AM2022-covid/pics/people-watching-birds_Ramesh-Shenai_crop.jpg
NCF-AM2022-covid/pics/people-watching-birds_Ramesh-Shenai.jpg
NCF-AM2022-covid/pics/ywla_Subhadra-Devi.jpg